name: Release Artifact
on:
  workflow_dispatch:
    inputs:
      release_version:
        description: 'Version number of the release'
        required: true
env:
  RELEASE_VERSION: ${{ github.event.inputs.release_version }}
jobs:
  build-and-release:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
      with:
        persist-credentials: false

    - name: Set up JDK 21
      uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e #v5.1.0
      with:
        distribution: 'temurin'
        java-version: '21'
        server-id: central
        server-username: CENTRAL_SONATYPE_TOKEN_USERNAME
        server-password: CENTRAL_SONATYPE_TOKEN_PASSWORD
        gpg-private-key: ${{ secrets.PGP_KEY }}
        gpg-passphrase: PGP_KEY_PASSWORD
        overwrite-settings: false

    - name: Set release version in antora.yml
      uses: mikefarah/yq@master
      with:
        cmd: yq eval -i '.version = "${RELEASE_VERSION}"' documentation/antora.yml

    - name: Build SAMM artifact and create Maven Central bundle
      run: |
        set -x
        
        export MAVEN_OPTS="-Xmx4096m"
        export JAVA_TOOL_OPTIONS="-Dfile.encoding=UTF8"
        
        rm -rf ~/.m2/repository/org/eclipse/esmf
        ./mvnw -B versions:set -DnewVersion=${RELEASE_VERSION}
        ./mvnw -B versions:commit
        # Since the meta model project itself does not inherit from the parent, we must set its version separately
        ./mvnw -B versions:set -DnewVersion=${RELEASE_VERSION} -pl esmf-semantic-aspect-meta-model
        ./mvnw -B versions:commit -pl esmf-semantic-aspect-meta-model
        ./mvnw -B clean generate-resources -pl documentation -Pantora
        ./mvnw -B -U clean install -pl esmf-samm-build-plugin
        ./mvnw -B -U clean deploy -pl esmf-semantic-aspect-meta-model -Psign,release-build -Dmaven.wagon.httpconnectionManager.ttlSeconds=60
        
        echo "Contents of target/central-staging:"
        ls -lR target/central-staging
        
        pushd target/central-staging
        zip -r -9 ../central-bundle.zip .
        popd
    
        cd build/
        mv site SAMM-${RELEASE_VERSION}
        zip -r ../SAMM-${RELEASE_VERSION}-specification.zip SAMM-${RELEASE_VERSION}
      env:
        PGP_KEY_PASSWORD: ${{ secrets.PGP_KEY_PASSWORD }}

    - name: Release to Maven Central
      if: ${{ !contains( env.RELEASE_VERSION, '-M' ) }}
      run: |
        token_header=$(printf "$CENTRAL_USERNAME:$CENTRAL_TOKEN" | base64)
        curl --request POST \
        --header "Authorization: Bearer $token_header" \
        --form bundle=@central-bundle.zip \
        https://central.sonatype.com/api/v1/publisher/upload
      env:
        CENTRAL_USERNAME: ${{ secrets.CENTRAL_SONATYPE_TOKEN_USERNAME }}
        CENTRAL_TOKEN: ${{ secrets.CENTRAL_SONATYPE_TOKEN_PASSWORD }}

    # If the deployment to Maven Central went through, the following steps will
    # - Commit updated version to release branch
    # - Create Github release

    - name: Commit version changes and push to upstream repository
      uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
      with:
         branch: ${{ env.release_branch_name }}
         commit_user_name: github-actions
         commit_user_email: github-actions@github.com
         commit_author: Author <actions@github.com>

    - name: Create GitHub release
      uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844 # v0.1.15
      with:
        body: "Create Github release"
        tag_name: v${{ env.RELEASE_VERSION }}
        target_commitish: ${{ env.release_branch_name }}
        draft: false
        prerelease: false
        files: |
          esmf-semantic-aspect-meta-model/target/*.jar
          esmf-semantic-aspect-meta-model/target/*.asc
          SAMM-*-specification.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN  }}

